#table {
  width: 100%;
  margin-bottom: 0 !important;
  background-color: white;
  border: 1px solid #f2f2f2;
  /* -webkit-box-shadow: 10px 6px 33px 13px rgb(47 93 143 / 28%);
  box-shadow: 10px 6px 33px 13px rgb(47 93 143 / 28%);*/
}

#table.table thead th,
#table.table-bordered,
#table.table-bordered td,
#table.table-bordered th {
  border-bottom: unset !important;
  border: unset !important;
}

.table tbody td {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table tbody td input {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#table thead tr {
  background-color: #90adff;
  color: white;
}

#order-table thead tr {
  background-color: #eaf0ff;
  color: #424e70;
}

#component-modal thead tr {
  background-color: #eaf0ff;
  color: #424e70;
}

.table-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.badge-gray {
  background-color: #e5e5e5;
  color: #625f62;
}

.detail-view td:nth-child(1) {
  padding: 0px;
}

.detail-icon i {
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #90adff;
}

/**  editable ***/

.editable-click,
a.editable-click,
a.editable-click:hover {
  text-decoration: none;
  border-bottom: unset !important;
}

a {
  color: black;
}

/**  editable ***/

/*** tooltip ***/

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #0a32a3;
  border-radius: 0.25rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #0a32a3 !important;
}

/*** tooltip ***/

/*** datepicker ***/
#datepicker {
  width: 180px;
  margin: 0 20px 20px 20px;
}
#datepicker > span:hover {
  cursor: pointer;
}
/*** datepicker ***/
